// backgroud colors
$light_bg: #f7f8fc;
$white_bg: #ffffff;

// button background

$btn_light: #f3f4fc;
$btn_dark: #5163d9;
$btn_purple: #a924e5;

// basic colors

$primary: #363f68;

// accent colors

$accent_blue: #7fc5f2;
$accent_purple: #9137df;
$accent_pink: #ef919d;

// gradient

$gradient: linear-gradient(
  96.78deg,
  #6f9ff4 9.88%,
  #d65f96 77.65%,
  #e79b8f 94.86%
);

// text color

$white_text: #ffffff;
$dark_text: #363f68;
